* {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.jss41 {
    width: 100%;
    border: 1px solid #dddddd;
}

.jss45 {
    display: flex;
    min-height: 30px;
    align-items: baseline;
    border-bottom: 1px solid #dddddd;
}
.jss44 {
    height: 100%;
    display: flex;
    margin-right: 5px;
}
.ProseMirror {
    padding: 10px 14px !important;
    white-space: break-spaces;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0, none;
    position: relative;
    height: 100%;
    width: 100%;
}

.text-black {
    color: #000;
}
