.storybook-typography--h1 {
    color: black;
   
  }
  .storybook-typography--grey1 {
    color: grey;
    
   
  }
  .storybook-typography--grey2 {
    color: blue;
    
   
  }
  .storybook-typography--small {
    font-size: 12px;
    padding: 10px 16px;
  }
  .storybook-typography--medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  .storybook-typography-large {
    font-size: 16px;
    padding: 12px 24px;
  }