.timeStamp {

    color: #9B9B9B;
    margin-left: 200px !important;
  

}
.timeStamp2 {

    color: #9B9B9B;
    margin-left: 247px !important;
  

}
.timeStamp3 {

    color: #9B9B9B;
    margin-left: 204px !important;
  

}
.timeStamp4 {

    color: #9B9B9B;
    font-size: 12px;
  

}
.userNameLabel {
margin-top: 10px !important;


}

.textStyle {

    text-align: left;
    color: #9B9B9B;
 margin-bottom: 10px !important;
 margin-top: -20px !important;
 margin-left: 15px !important;
   
}