.outputText{

    width: 300px;
    height: 30px;
    border: 2px solid #E8E8E8;
    background-color: rgb(224, 224, 224);
    color:grey !important;
}
.time {
    position: fixed;
    left: 3.5%;
    top: 7.5%;
    color:grey !important;
}
