.jss110 {
    display: flex;
    padding: 4px 40px;
    flex-flow: row wrap;
    background: rgb(237, 252, 255);
    justify-content: space-around;
}
.jss155 {
    height: 32px;
    display: flex;
}
.jss113 {
    flex: 1 1 auto;
}
.jss156 {
    margin-right: 8px;
}

.jss162 {
    width: 32px !important;
    height: 32px !important;
}
.jss128 {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.jss147 {
    color: #636E8B !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.25px;
}

.jss164 {
    padding: 2px 5px;
    /* background: #DCFFFE; */
    line-height: 1;
}

.jss153 {
    text-align: left ;
}

.jss171 {
    white-space: noWrap;
}

.jss115 {
    align-self: center;
}

.jss172 {
    color: #636E8B;
}

.jss167 {
    color: #ffffff;
    border: 0.1em solid #686F8A;
    display: inline-block;
    padding: 0.5em;
    font-size: 13px;
    background: #686F8A;
    white-space: nowrap;
    margin-right: 4px;
    border-radius: 0.3em;
}

.jss169 {
    color: #686F8A;
    display: inline-block;
    padding: 0.5em;
    font-size: 13px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
    margin-left: 0.3em;
    white-space: nowrap;
    border-radius: 0.3em;
}