/* .jss108 {
    height: 40px;
    display: flex;
}

.jss109 {
    padding: 0 40px 16px 40px;
}

.jss119 {
    width: 40px;
    height: 40px;
}
.jss120 {
    align-self: center;
    visibility: hidden;
}

.jss127 {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}

.jss111 {
    flex: 1 1 auto;
    overflow: hidden;
    align-self: center;
    white-space: noWrap;
    text-overflow: ellipsis;
}

.jss112 {
    margin-bottom: 16px;
}

.jss153 {
    text-align: left;
}

.jss132 {
    color: #363e53;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

.jss128 {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.jss153 {
    text-align: left;
}
.jss113 {
    flex: 1 1 auto;
}
.jss137 {
    color: #7E7E7E;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.jss156 {
    margin-right: 8px;
}
.jss157 {
    flex: 1 1 auto;
    line-height: 1;
    white-space: nowrap;
}

.jss153 {
    text-align: left;
}
.jss128 {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.jss153 {
    text-align: left;
}

.jss110 {
    display: flex;
    padding: 8px 40px;
    flex-flow: row wrap;
    background: #F5FAFF;
    justify-content: space-around;
}

.jss164 {
    padding: 2px 5px;
    background: #DCFFFE;
    line-height: 1;
}

.jss153 {
    text-align: left;
}

.jss147 {
    color: #636E8B;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.25px;
}

.jss128 {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.jss114 {
    display: flex;
    align-self: center;
    margin-right: 8px;
}

.jss117 {
    color: #7E7E7E;
    font-size: 16px;
    margin-right: 4px;
}
.jss118:nth-last-child(n+2) {
    margin-right: 8px;
}

.jss115 {
    align-self: center;
}
.jss155 {
    height: 32px;
    display: flex;
}

.jss159 {
    margin: 0;
    line-height: 1;
}

.jss167 {
    color: #ffffff;
    border: 0.1em solid #686F8A;
    display: inline-block;
    padding: 0.5em;
    font-size: 13px;
    background: #686F8A;
    white-space: nowrap;
    margin-right: 4px;
    border-radius: 0.3em;
}
.jss162 {
    width: 32px;
    height: 32px;
}
.jss169 {
    color: #686F8A;
    display: inline-block;
    padding: 0.5em;
    font-size: 13px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
    margin-left: 0.3em;
    white-space: nowrap;
    border-radius: 0.3em;
}
.jss171 {
    white-space: noWrap;
}
.jss172 {
    color: #636E8B;
} */