.container-text-brain {
  width: 100%;
  display: table;
  background: #353a4b;
  color: #ffffff;
  border: none;
  padding-left: 0px;
  padding-right: 0px;
}

.tRow {
  display: table-row;
  height: 100%;
}

.left {
  width: 50%;
  display: table-cell;
}

.right {
  display: table-cell;
  text-align: right;
}

.parent-progress {
  /* padding: 20px; */
  position: relative;
}
.child-progress-perf1 {
  background: #6ab4ac;
  padding: 10px;
  /* display: table-cell; */
  vertical-align: top;
  position: absolute;
  z-index: 100;
}
.child-progress-perf2 {
  background: #4153af;
  padding: 10px;
  /* display: table-cell; */
  vertical-align: top;
  position: absolute;
  z-index: 200;
}

.progress-container-brain {
  position: relative;
}

.child-child-progress {
  float: right;
  margin-right: -38px;
}

.card-title {
  border-left-style: solid;
  border-left-color: #ff4785;
  font-size: larger;
}
.left-title-header {
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: #5d595a;
  margin: 10px 10px 10px 10px;
  text-align: center;
}
.right-title-header {
  margin: 10px 10px 10px 10px;
  text-align: center;
}

span.left-title-text {
  bottom: 7px;
  position: relative;
}

.main-card {
  background: #2d2e3c;
  color: #ffffff;
  padding: 10px;
}
span.open-request-text {
  font-size: 35px;
}
.request-open-in-title {
  text-align: left;
  color: #969696;
}
.legend-color-brain,
.less-color-brain,
.more-color-brain {
  border-left-style: solid;
  border-left-width: 12px;
  text-align: left;
  padding: 0px 0px 0px 5px;
  font-size: xx-small;
  margin-left: 80px;
}
.less-color-brain {
  border-left-color: #4153af;
}
.more-color-brain {
  border-left-color: #6ab4ac;
}
span.request-open-in-text {
  font-size: small;
}
.parent-progress {
  position: relative;
  width: 100%;
}
.progress-container-brain {
  border-right-style: solid;
  border-right-color: #f3f3f3;
  border-width: 22px;
  padding: 0px 0px 0px 11px;
}
.progress-container-brain-main {
  background: #353a4b;
}

p#title-overFlow {
  width: 133px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  font-size: 1.3rem;
  margin: 0;
}
